@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
#nav {
  height: 60px;
  background: rgba(186, 185, 183, 0.9);
  color: #fff;
}
#nav #navTitle {
  font-family: Satisfy;
}
#nav button {
  border: none;
}

#welcome {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/section_01.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/section_01.jpg") no-repeat center/cover;
  color: #fff;
}
#welcome iconify-icon {
  font-size: 48px;
  color: #fff;
  opacity: 0.5;
}

#about .h1-title::after {
  content: "ABOUT";
}
#about #personal-img {
  max-width: 400px;
}
#about h5 {
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
}
@media (min-width: 992px) {
  #about h5 {
    left: 10%;
  }
}

#ability {
  background: #e6e3dd;
}
#ability .h1-title::after {
  content: "ABILITY";
}
#ability .card {
  height: 280px;
  border: none;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}
#ability .iconBox {
  width: 100px;
  height: 100px;
  background: #285185;
  color: #fff;
  font-size: 48px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  #ability .card {
    height: 230px;
  }
}
@media (min-width: 992px) {
  #ability .card {
    height: 280px;
  }
}

#resume .h1-title::after {
  content: "RESUME";
}
#resume h3 {
  color: #285185;
  margin-bottom: 16px;
}
#resume .resume-text {
  border-left: 2px solid #ccd9e2;
  padding: 0 20px;
  position: relative;
}
#resume .resume-text::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: #ccd9e2;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-9px);
          transform: translateX(-9px);
}
#resume .dateline {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background: #d9d9d9;
}
@media (min-width: 768px) {
  #resume #datebox {
    height: 485px;
  }
}
@media (min-width: 992px) {
  #resume #datebox {
    height: 445px;
  }
}

#portfolio .h1-title::after {
  content: "PORTFOLIO";
}
#portfolio .mySwiper {
  border-radius: 2rem;
}
#portfolio .mySwiper .swiper-button-next,
#portfolio .mySwiper .swiper-button-prev {
  width: 50px;
  height: 50px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-radius: 50%;
}
#portfolio .mySwiper .swiper-button-next::after,
#portfolio .mySwiper .swiper-button-prev::after {
  font-size: 20px;
}
#portfolio .btn {
  background: #285185;
  color: #fff;
}
#portfolio .func-box {
  min-height: 230px;
  border: 1px solid #ccd9e2;
  border-radius: 2rem;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #ccd9e2), color-stop(25%, #fff));
  background: linear-gradient(#ccd9e2 25%, #fff 25%);
}
#portfolio h2 {
  color: #285185;
}
#portfolio .card {
  position: relative;
}
#portfolio .card .card-text:last-child {
  position: absolute;
  bottom: 3%;
}

#footer {
  background: #bcb9b7;
  color: #fff;
}
#footer h1 {
  font-size: 36px;
  font-weight: 700;
}
#footer iconify-icon {
  font-size: 28px;
  color: #fff;
}

:root {
  scroll-padding-top: 60px;
}

.container {
  max-width: 1140px;
}
.h1-title {
  font-size: 32px;
  border-bottom: 5px solid #CCD9E2;
  font-family: "Almarai";
  font-weight: bold;
  color: #333;
  position: relative;
  z-index: 1;
}
.h1-title::after {
  font-size: 42px;
  color: #bcb9b7;
  opacity: 0.3;
  letter-spacing: 0.5rem;
  position: absolute;
  top: -80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.section-py {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .section-py {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

#top {
  width: 50px;
  height: 50px;
  background: #285185;
  opacity: 0.8;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
}